.project {
  background-color: rgba(46, 197, 104, 1);
  width: 50%;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  

    .title {
      display: inline-block;
      margin-top: 5%;
      text-decoration: none;
      color: white;
    }

    .frame {
      margin: 5.5% auto 0;      
      width: 90%;
      height: 70%;
      border: 1px solid white;

        
    }

   
}