.main-content {
  background-color: white;
  width: 80%;
  height: 80%;
  position: absolute;
  right: 10%;
  left: 10%;
  top: 20%;
  bottom: 0;
  border: 3px solid blue;
  border-radius: 1%;
  margin-bottom: 2%;


  
}